@charset "utf-8";
/* 全局样式 */
html,body,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,select,button,textarea,menu,h1,h2,h3,h4,h5{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
img{vertical-align: middle;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:40%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:14px/1.8 "微软雅黑",Arial,SimSun,Tahoma,Helvetica,sans-serif;outline:0;}
body{color:#333;background-color:#f2f7f5;}
a{color:#636363;outline:none;}
a:hover{color:#345a5b;text-decoration:none;}
/* .container{width:1240px;margin:0 auto;} */
.layout{padding:15px 15px;background-color:#ffffff;}
/* 文字样式 */
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.green{color:#158064;}
.green:hover{color:#096;}
/* 按钮 */
.btn{display:inline-block;border:none;text-align:center;background:#158064;color:#fff;min-height:34px;line-height:34px;padding:0 15px;-webkit-transition:background 0.3s,border 0.3s;transition:background 0.3s,border 0.3s;}
.btn:hover{background:#009966;color:#fff;}
.btn.white{background:#fff;color:#666;border:1px solid #ddd;}
.btn.white:hover{background:#666;color:#fff;border:1px solid #666;}
.btn.disabled{background:#f1f1f1;border-color:#aaa;color:#aaa;cursor:default;}
/* 边距 */
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
/* 浮动 */
.fl{float:left!important;}
.fr{float:right!important;}
.relative{position:relative;}
.clearfix,.row{*zoom:1;}
.clearfix:before,.clearfix:after,.row:before,.row:after{display:table;content:"";}
.clearfix:after,.row:after{clear:both;}
/*显示形式*/
.inline{display:inline;}
.block{display:block;}
.inline-block{display:inline-block;zoom:1;*display:inline;}
.hidden{display:none;}

/* 如上源码基本使用了国微CMS中的公用样式源码 */

#page{text-align: center;font-size: 14px;padding:40px 0;}
#page span{display:inline-block;line-height:31px;padding:0 12px;background:#f3f3f3;color:#333;}
#page .s2{background:#005555;color:#fff;} 
#page a{display:inline-block;line-height:31px;padding:0 12px;background:#f3f3f3;color: #333;}
#page a:hover{color:#fff; background:#005555;}
/* 以下是自己写的样式 */
.container{
    width: 1200px;
    margin: 0 auto;
}
.b-r{border-radius:6px;}
body{font-size: 12pt;}