#mainPage{
    min-width: 1220px;
}
/* 输入框 */
.inputScreen,.abandon{
    position: fixed;
    height: 100vh;
    width:100vw;
    min-width: 1220px;
    z-index: 99;
    display:flex;
    align-items: center;
    transition: all 0.3s;
}
.abandon{
    background-color: #7d90ff2d;
    backdrop-filter: blur(12px);
    cursor: pointer;
}
.abandon h1{
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}
.abandon:hover h1{
    opacity: 1;
}
.inputBox{
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    padding-top: 20px;
}
.inputBox input{
    width:100%;
    font-size: 20px;
    border-radius: 6px;
    padding: 0 5px;
    box-sizing:border-box;
    border: #415dff solid 2px;
    background-color: #ffffff99;
    text-align: center;
}
#passwordCounter{
    color: white;
    font-size: 20px;
    text-align: center;
}

#mainBackground{
    background-image: url('../images/BG.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    padding-top: 112.6px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.452);
    /* overflow: hidden; */
}

/* 内容区 */


header{
    position:relative;
    margin-bottom: 15px;
}

#avatarArea{
    color: white;
    font-weight: bold;
    position: relative;
}
#avatar{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    box-sizing:border-box;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
}
#avatar img{width:100px;height: 100px;}
#avatar input{display: none;}
.avatarNotice,.avatarNoticeAssistant{
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
}
.avatarNotice{
    top:100px;
    text-align: center;
    transition: top 0.5s;
}
.avatarNoticeAssistant{
    top:0;
    background-color: #00000000;
    transition: background-color 0.5s;
}
#name{
    position: absolute;
    bottom:-7px;  
    /* left:115px; */
    -webkit-text-stroke:1px rgb(0, 0, 137);
}
#name h1{
    font-size:66px;
    line-height: 0.9;
}
#name h2{
    font-size:23px;
    /* letter-spacing: +7.5px; */
}

nav{
    position: sticky;
    top:0;
    z-index: 2;
    background-color: #0a113ada; 
    box-shadow: 0 0 6px #ffffffda; 
    overflow: hidden;  
}
nav li{
    float: left;
    height:40px;
    line-height: 40px;
    width:200px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;      
    border-radius: 4px; 
    cursor: pointer;
    box-sizing:border-box;
}
nav li div{
    /* 用于处理a标签占不满格子 */
    position: relative;height: 100%;width: 100%;
}
nav li:hover{
    /* outline: solid #fff 2px; */    
    background-color: #283aa0da;
    border-bottom: #9eadffda solid  4px;
}
nav li,nav a{color: white; }
nav li:hover,nav a:hover{color: #c2cbffda;}
main {position: relative;}
li.greenBotton{ 
    background-color: #00ac00;
}
li.greenBotton:hover{ 
    background-color: #006c00;
    border-bottom: #7bff7b solid  4px;
    color: #eeeeee;
}
li.redBotton{ 
    background-color: #ac0000;
}
li.redBotton:hover{ 
    background-color: #6c0000;
    border-bottom: #ff7b7b solid  4px;
    color: #eeeeee;
}

section{
    position: relative;
    border-top: #5d5de6 solid 4px;
    width: 790px;
    box-sizing:border-box;
    margin: 15px 0;
    border-radius:4px;
    background-color: #101010d0;  
    padding: 12px;
    color: white;
}
section.errorBox{
    border-top: #e65d5d solid 4px;
    background-color: #2a0000d0; 
    color: #ed9797;
}
section.errorBox h1{    
    font-size: 20px;  
    font-weight: bold;
}
section#inputArea{
    min-height:120px;
}
section#inputArea .selectorBox{
    font-size: 20px;  
    font-weight: bold;
    color: #abc6ff;
    border-radius: 6px;
    background-color: #6d83ff33;
    display: block;
    position: relative;
    float: left;
    margin: 5px 0 15px 0;
}
section#inputArea .selectorBox span{
    height: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
#docInput{
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    height: 48px;
    background-color: #ffffff66;
    transition: all 0.5s;
    border: none;
    text-align: justify;
    overflow: hidden;
}
#docInput.focused{    
    background-color: #ffffff99;
}
.resultBox .sentLabel,.resultBox .paraSum{
    position: absolute;
    background-color: #000000bb;
    padding: 5px;
    border-radius: 3px;
    display: none;
    z-index: 2;
    margin: 5px;
}
.resultBox .paraSum{
    bottom: 100%;
    right: 0;
}
.resultBox p:hover .paraSum,
.ducuSent:hover .sentLabel{
    display: block;
}
.titleKey{
    font-size: 20px;
}
.paraSum.keyPair{
    font-size: 16px;
}
.keyName{
    padding-right:0.5em ;
    color: #7d97ff;
}
.keyValue{
    font-weight: bold;
}
article{
    text-align: justify;
}
.resultBox p{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
p.probLv1{
    background-color: #00ff3c10;
}
p.probLv2{
    background-color: #ffd00010;
}
p.probLv3{
    background-color: #ff000010;
}
.ducuSent{
    display: inline;
    padding: 3px;
    border-radius: 3px;
}
.ducuSent:hover{
    background-color: #82828236;
}
.ducuSent.probLv1{
    color: #8eff7d;
}
.ducuSent.probLv2{
    color: #ffd67d;
}
.ducuSent.probLv3{
    color: #ff7d7d;
}

.quesBox,.replyBox{
    box-sizing: border-box;
    width: 700px;
    border: none;
    position: relative;
}
.quesBox{
    margin-left: 30px;
    margin-right: 60px;
    background-color: #a8ff9bdd;
    color: #18b200;
    box-shadow:  0 0 6px #00000033;
}
.replyBox{
    margin-left: 60px;
    margin-right: 30px;
    background-color: #000000dd;
    box-shadow:  0 0 6px #ffffff33;
}
.replyBox::before,
.quesBox::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    top:0;
    border-radius: 6px;
    background-size: 100%;
}
.quesBox::before{
    background-image: url(../images/human.png);
    left:710px;
    box-shadow:  0 0 6px #00000033;
}
.replyBox::before{
    background-image: url(../images/openai.png);
    left:-60px;
    box-shadow:  0 0 6px #ffffff33;
}
/* ********************************* */
aside{
    position: absolute;
    left: 810px;
    width:390px;
    height: 100%;
    text-align: justify;
}

aside>div{
    position: sticky;
    top:55px;
    border-radius:4px;
    background-color: #101010a0;  
    padding: 8px;
    color: white;
}

footer{
    position:sticky;
    bottom:0;
    z-index: 0;
}
.footerSide{
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 10px;
}
#footerL{
    display: flex;
    align-items: center;
    height: 160px;
    padding-left: 80px;
    /* border-right: #353c63 solid 1px; */
}
#footerL h1{
    color: #6565a5;
    font-size: 30px;
}
#footerL div{color: #555;}
#footerL #vsitorCounter{color: #27279c;font-weight: bold;}
#footerL img{
    width: 160px;
}
#footerR li{
    float: left;
    width: 145px;
}
#footerR h1{
    color: #293058;
    font-size: 20px;
    text-indent: 8px;
    margin: 5px;
}
#footerR li div{
    padding: 8px 13px;
    border-radius: 3px;
    margin: 0 auto;
    float: left;
}
#footerR li div:hover{
    background-color: #dddddd;
}
#footerR li a{color: #555;}
#footerR li a:hover{color: #27279c;}